<!DOCTYPE html>
<html>
    <head lang="fr">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title> {{ headTitle }} | TARDIS </title>
            
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    </head>

    <body id="loginPage">
        <div class="container">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row justify-content-center">
                <div class="col-md-4 text-center align-self-center">
                    <img src="assets/tardis.png" width="70%"/>
                    <h1>Tardis</h1>
                    <hr class="mb-4">

                    {{ form_start(formLogin) }}
                        <div class="form-group">
                            <label for="numeroEtudiantInput">Adresse e-mail</label>
                            {{ form_widget(formLogin._username, {'attr': {'class': 'form-control', 'id': 'adresseMailInput', 'maxlength': '255'} }) }}
                            {# <input type="text" class="form-control" id="numeroEtudiantInput" maxlength="8" name="_username" value="{{ last_username }}"> #}
                        </div>
                        <div class="form-group">
                            <label for="numeroEtudiantInput">Mot de passe</label>
                            {{ form_widget(formLogin._password, {'attr': {'class': 'form-control'} }) }}
                            {# <input type="hidden" class="form-control" id="passwordInput" maxlength="8" name="_password" value="password"> #}
                        </div>
                        <div class="form-check">
                            {# <input type="checkbox" class="form-check-input" id="rememberMe"> #}
                            <label class="form-check-label" for="rememberMe">Se rappeler de moi</label>
                        </div>
                            {# <input type="hidden" name="_target_path" value="/dashboard" /> #}
                            {# <button type="submit" class="btn btn-light mt-3">Valider</button> #}
                            {{ form_widget(formLogin.submit, {'attr': {'class': 'btn btn-light mt-3'} }) }}
                    {{ form_end(formLogin) }}

                </div>
            </div>
             
        </div>
    </body>
</html>