{% extends 'layout/layout.html.twig' %}

{% block body %}

    <div class="container-fluid"> <!-- DEBUT container-fluid -->
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        Mes dernières notes
                        <div class="card-icon">
                            <i class="fas fa-history"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        {%  if toDernieresNotesEtudiant is empty %}
                            <p class="text-muted text-center"> Aucune note à afficher. </p>

                        {% else %}
                            <ul class="grades-history">
                                {% for oNote in toDernieresNotesEtudiant|slice(0, 4) %}

                                    {% if oNote.note <= 8 %}
                                        {% set categorieNote = 'danger' %}
                                    {% elseif oNote.note <= 10 %}
                                        {% set categorieNote = 'warning' %}
                                    {% elseif oNote.note <= 14 %}
                                        {% set categorieNote = 'primary' %}
                                    {% elseif (oNote.note <= 20) or (oNote.note > 20) %}
                                        {% set categorieNote = 'success' %}
                                    {% endif %}

                                    <li>
                                        <span class="lead grade-matiere-dashboard">{{ oNote.matiere.code }}</span>
                                        <span class="text-muted grade-type-dashboard">{{ oNote.typeCc.libelle }}</span>
                                        <span class="badge badge-pill badge-{{ categorieNote }} grade-value-dashboard">{{ oNote.note }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Aperçu
                        <div class="card-icon">
                            <i class="fas fa-eye"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <h5 class="card-title"> Meilleure note </h5>
                                    {% if oNoteMax is not null %}
                                        <div class="GaugeMeter" data-text="{{ oNoteMax.note|round(1, 'floor')  }}" data-percent="{{ (oNoteMax.note / 20 * 100)|round }}" data-size="180" data-label="{{ oNoteMax.matiere.code }}"></div>
                                    {% else %}
                                        <div class="GaugeMeter" data-text="-" data-percent="0" data-size="180" data-label="Pas de note"></div>
                                    {% endif %}
                            </div>

                            <div class="col-md-6 text-center">
                                <h5 class="card-title text-center"> Note la plus basse </h5>
                                    {% if oNoteMin is not null %}
                                        <div class="GaugeMeter" data-text="{{ oNoteMin.note|round(1, 'floor')  }}" data-percent="{{ (oNoteMin.note / 20 * 100)|round }}" data-size="180" data-label="{{ oNoteMin.matiere.code }}"></div>
                                    {% else %}
                                        <div class="GaugeMeter" data-text="-" data-percent="0" data-size="180" data-label="Pas de note"></div>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Agenda
                        <div class="card-icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                    </div>
                    <div class="card-body">
                        {%  if toProchainsEvenements is empty %}
                            <p class="text-muted text-center"> Aucun évènement à venir. </p>

                        {% else %}
                            <ul class="events-history">
                                {% for oEvenement in toProchainsEvenements %}
                                    <li>
                                        <span class="lead event-matiere-dashboard">{{ oEvenement.matiere.code }}</span>
                                        <span class="event-type-dashboard">{{ oEvenement.typeCc.libelle }}</span>
                                        <span class="badge badge-pill badge-secondary event-date-dashboard">{{ oEvenement.date|date("d/m/Y") }}</span>
                                        <p class="event-comment-dashboard">{{ oEvenement.commentaire }}</p>
                                    </li>
                                    <hr/>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    </div> <!-- FIN container-fluid -->
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="assets/Gauge/GaugeMeter.js"></script> 

    <script>
        $(".GaugeMeter").gaugeMeter();
    </script>
{% endblock %}
