<!DOCTYPE html>
<html>
    <head lang="fr">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title> {{ headTitle }} | TARDIS </title>

        {% block stylesheets %}
            
            <!-- Bootstrap 4 -->
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" crossorigin="anonymous">

            <!-- DataTables -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/DataTables/datatables.min.css') }}"/>

            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{ asset('assets/css/style-sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

            <!-- Javascript -->
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

            <!-- Chart.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>

        {% endblock %}
        
    </head>

    {% macro active(route) %}
        {% if app.request.attributes.get('_route') == route %}
            class="active"
        {% endif %}
    {% endmacro active %}

    <body>

        {% block navbar %}
            {% import _self as active %}

            <div class="wrapper"> <!-- BEGIN wrapper -->
                <!-- Sidebar  -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>
                            Tardis
                            <br>
                            v0.1
                        </h3>
                        <strong><img src="{{ asset('assets/tardis.png') }}" width="100%"/></strong>
                    </div>

                    <ul class="list-unstyled components">
                        <li {{ active.active('dashboard') }}>
                            <a href="{{ path('dashboard') }}">
                                <i class="fas fa-tachometer-alt mr-2"></i>
                                <div class="br-insert"></div>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('note_listeNotes') }}">
                                <i class="fas fa-user mr-2"></i>
                                <div class="br-insert"></div>
                                Mes notes 
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-search mr-2"></i>
                                <div class="br-insert"></div>
                                Recherche
                            </a>
                        </li>
                        
                        {% if is_granted('ROLE_ADMIN') %}
                        <li {{ active.active('admin_dashboard') }}>
                            <a href="{{ path('admin_dashboard') }}">
                                <i class="fas fa-wrench mr-2"></i>
                                <div class="br-insert"></div>
                                Gérer
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

                <!-- Page Content  -->
                <div id="content">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">

                            <button type="button" id="sidebarCollapse" class="btn btn-light">
                                <i class="fas fa-align-left" style="color: #a5a1a1"></i>
                            </button>

                            {# <span class="notificationsToggle">
                                Activer notifications
                                <input type="checkbox" id="toggly">
                                <label for="toggly"><i></i></label>
                            </span> #}

                            <div class="userInfo">
                                <span class="text-muted">Bienvenue,</span> 
                                <span class="text-body">{{ oEtudiant.numeroEtudiant }}</span>
                                <button type="button" id="userLogout" class="btn btn-light" onclick="location.href='{{ path('logout') }}'">
                                    <i class="fas fa-sign-out-alt" style="color: #a5a1a1"></i>
                                </button>
                            </div>
                        </div>
                    </nav>

                    {% block body %} {% endblock %}
                </div>
            </div> <!-- END wrapper -->
        {% endblock %}

        
        {% block javascripts %}
            <!-- Datatables -->
            <script type="text/javascript" src="{{ asset('assets/DataTables/datatables.min.js') }}"></script>

            <!-- Font Awesome JS -->
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

            <!-- Bootstrap -->
            <script src="{{ asset('assets/js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
            
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.br-insert').toggle();

                    $('#sidebarCollapse').on('click', function () {
                        $('#sidebar').toggleClass('active');
                        $('#sidebar').find('svg').toggleClass('mr-2');
                        $('.br-insert').toggle();
                    });

                    //Tri datatables dd/mm/Y
                    jQuery.extend(jQuery.fn.dataTableExt.oSort,{"date-eu-pre":function(e){if(!(e=e.replace(" ","")))return 0;var t,r=e.split(/[\.\-\/]/);t=r[2]?r[2]:0;var n=r[1];1==n.length&&(n=0+n);var u=r[0];return 1==u.length&&(u=0+u),1*(t+n+u)},"date-eu-asc":function(e,t){return e<t?-1:t<e?1:0},"date-eu-desc":function(e,t){return e<t?1:t<e?-1:0}});
                });
            </script>
            
        {% endblock %}

    </body>
</html>